.back {
  background-color: #fff !important;
  margin-bottom: -50px;
  padding: 20px;
}
.laptop {
  width: 515px;
  height: 320px;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contimg {
  display: flex;
  justify-content: right;
  align-items: center;
}

.btn {
  background-color: #fb9212;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
}

#conteudo {
  display: flex;
}
#conteudo div {
  flex: 1;
}
#text {
  padding: 60px;
  margin-right: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 8px;
  letter-spacing: 1px;
  line-height: 2;
}
.section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.content-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  grid-template-areas:
    "a b"
    "c c";
}
.img1 {
  width: 300px;
  grid-area: a;
}
.img2 {
  width: 300px;
  height: 200px;
  grid-area: b;
}

.img-lg {
  width: 627px;
  grid-area: c;
}

.title {
  font-size: 2.2rem;
  font-family: arial;
  margin-top: 20px;
  margin-bottom: 15px;
}

.paragraph {
  margin-bottom: 40px;
}
.content {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 8px;
  letter-spacing: 1px;
  line-height: 40px;
}

.fonth2 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
